img {
  object-fit: contain;
}

nav {
  align-self: flex-end;
  font-size: 16px;
  background-color: white;
}

header {
  width: 100%;
  background-color: white;
}

body {
  background-color: white;
  height: 2000px;
  color: #001f3f;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #001f3f;
}

.dflex {
  display: flex;
}

.flexcol {
  flex-direction: column;
}

.justifyandaligncenter {
  align-items: center;
  /* justify-content: center; */
}

.spacebetween {
  justify-content: space-between;
}

.textcenter {
  text-align: center;
}

.py16 {
  padding: 16px 0;
}

.my16 {
  margin: 16px 0;
}

.alignselfcenter {
  align-self: center;
}

.fixed {
  position: fixed;
}

.dnone {
  display: none;
}

.fwrap {
  flex-wrap: wrap;
}

.minilogo {
  width: 64px;
}

.logo {
  width: 230px;
}

.menuexpanded {
  margin-top: 32px;
  background-color: aliceblue;
}

.spanline1 {
  background-color: #001f3f;
  height: 2px;
  width: 100%;
  margin: 4px 0;
}

.displaypage {
  background-color: blueviolet;
}

.contacto {
  margin: 8px 0;
}

.arrowright {
  width: 8px;
  margin: 4px;
}

.divservicios {
  margin: 0 24px;
  justify-content: center;
}

.rotate90 {
  transform: rotate(90deg);
}

@media screen and (min-width: 768px) {
  body {
    font-size: 24px;
  }

  nav {
    font-size: 16px;
  }

  .spanline1 {
    margin: 8px 0;
  }

  .desktopmenucontainer {
    margin: 16px 0;
  }

  .desktopitem {
    padding: 16px;
  }

  .contacto {
    margin: 32px 0;
  }

  .servicioscontainer {
    position: absolute;
    margin-top: 48px;
    margin-left: 32px;
    /* top: 0;
    left: 0; */
  }
}
